/* GENERAL */

* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Spartan', sans-serif;
}

.wrapper {
    width: 90%;
    margin: auto;
}

header {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

header, .rate {
    text-align: center;
}

/* MAIN CONTENT */

header h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

header p {
    color: hsl(303, 10%, 53%);
    line-height: 1.5rem;
    font-weight: 400;
    font-size: 0.9rem;
}

/* RATE CARD */

.rate-card {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    padding: 0.2rem 0;
    margin-bottom: 1rem;
}

.rate-card i {
    margin-right: 0.5rem;
    color: #E9984C;
}

.rate-card p {
    text-transform: capitalize;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

/* CUSTOMER CARDS */

#customers-cards-container {
    margin: 3rem 0;
}

.customer-card {
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    padding: 2rem 3rem 1rem 3rem;
    margin: 1rem 0;
    border-radius: 10px;
}

.customer-card-header {
    text-transform: capitalize;
    display: flex;
    flex-flow: row nowrap;
}

.customer-card-header img {
    border-radius: 50%;
    margin-right: 2rem;
}

.customer-card-header-names p:nth-child(1) {
    margin-bottom: -0.5rem;
}

.customer-card-header-names p:nth-child(2) {
    color: hsl(333, 80%, 67%);
}